<div
  *ngIf="Alert"
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <strong>Atenção!</strong> {{ alertMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-------------------------- FORM ------------------------------>
<div class="container">
  <br />
  <h2 style="color: #367fbf; font-weight: bold">Orbit Tweets Search</h2>
  <form method="post" name="form1">
    <div class="form-group">
      <!-------------------------- ACCOUNT CHECK ------------------------------>
      <label class="form-check-label" for="flexCheckChecked">
        Conta do Twitter
      </label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          name="account_radio"
          id="radio1"
          checked
          (click)="switchAccount(0)"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Conta 1 (@‌Orbit176178735)
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          name="account_radio"
          id="radio2"
          (click)="switchAccount(1)"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Conta 2 (@orbitdatascien1)
        </label>
      </div>
      <!-------------------------- Query ------------------------------>
      <label for="formGroupExampleInput">Query</label>
      <input
        type="text"
        class="form-control"
        name="query"
        id="query"
        placeholder="Insira a query de busca"
        required="true"
        [(ngModel)]="queryContent"
      />
      <!-------------------------- Idioma ------------------------------>
      <label for="inputState">Idioma</label>
      <select
        name="idioma"
        id="idioma"
        class="form-control"
        required="true"
        [(ngModel)]="langContent"
      >
        <option selected value="-1">Qualquer Idioma</option>
        <option *ngFor="let key of languageKeys" [value]="key">
          {{ languages[key] }}
        </option>
      </select>

      <label for="fromDate">Data Inicial:</label>
      <br />
      <input
        type="date"
        id="fromDate"
        name="fromDate"
        style="color: gray; width: 100%"
        [(ngModel)]="fromDate"
      />

      <label for="toDate">Data Final:</label>
      <br />
      <input
        type="date"
        id="toDate"
        name="toDate"
        style="color: gray; width: 100%"
        [(ngModel)]="toDate"
      />
      <br />
      <!-- ------------------------ Datas ----------------------------
          <label  for="formGroupExampleInput">Data Inicial</label>
          <input
            type="text"
            class="form-control"
            name="datepicker"
            id="datepicker"
            required="true"
          />
          <label  for="formGroupExampleInput">Data Final</label>
          <input
            type="text"
            class="form-control"
            name="datepicker2"
            id="datepicker2"
            required="true"
          /> -->

      <br />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="1"
          name="retweets_chk"
          id="retweets_chk"
          (click)="toogleIncludeRetweets()"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Incluir Retweets
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="1"
          name="replies_chk"
          id="replies_chk"
          (click)="toogleIncludeReplies()"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Incluir Replies
        </label>
      </div>
      <div
        class="container"
        style="align-items: center"
        *ngIf="searchingTweets == false"
      >
        <br />
        <p style="text-align: center">
          <button
            id="myBtn"
            type="submit"
            class="btn btn-primary"
            (click)="sendData('tweetscount')"
          >
            Tweets Count
          </button>
          <br />
          <br />
          <button
            id="myBtn"
            type="submit"
            class="btn btn-primary"
            (click)="sendData('tweetssearch')"
          >
            Tweets Search
          </button>
        </p>
      </div>
      <div class="text-center" *ngIf="searchingTweets == true">
        <img width="20%" src="/assets/orbit.gif" />
      </div>
    </div>
  </form>
</div>
