<!--NAV BAR-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="background-color: #1d2840 !important"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://storage.googleapis.com/orbit-logo/ORBIT%20-%20LOGOTIPO%20-%20HORIZONTAL%205.png"
            width="auto"
            height="100"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>

<router-outlet>
</router-outlet>
